{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Visuels fournisseur</li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Historique des imports</li>
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Historique des imports d'images</h1>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-sm-10">
                        <h6>Imports</h6>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-icon-only rounded-circle bi-plus-lg"
                            data-bs-toggle="modal" data-bs-target="#formImageImport">
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="color: var(--bs-blue);">Nom
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Date de création
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Statut
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for imp in imports %}
                            <tr>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0 ps-3">{{ imp.name }}</p>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">{{ imp.creation_date }}</p>
                                </td>
                                <td>
                                    <span class="text-xs font-weight-bold">{{ imp.status }}</span>
                                </td>
                                <td class="align-middle">
                                    <div class="text-sm font-weight-bold mb-0">
                                        <button class="btn btn-primary btn-icon-only bi-pencil-fill">

                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="formImageImport" tabindex="-1" aria-labelledby="formImageImportLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="formImageImportLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}