{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Création d'un lot d'import d'images</h1>
</div>

<!-- Content Row -->
<div class="row">
    {% for package in packages %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>Nom :</b> {{ package.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
</div>


{% endblock %}