{% extends 'base.html' %}
{% load static %}


{% block breadcrumb %}
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Visuels fournisseur</li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Transformer des visuels</li>
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Transformation des images</h1>
</div>

<!-- Content Row -->
<div class="row">
    
</div>


{% endblock %}